.frame
{
    background-color: cornflowerblue;
    padding: 50;
}

.otsikko {
    color: white;
    font-size: 32;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ruokaehdotus {
    font-size: 28;
    color: black;
    padding-top: 100;
    padding-bottom: 100;
}

.nappula {
    background-color: darkslateblue;
    padding: 15;
    border-radius: 15;
    color: white;
    margin-right: 10;
    margin-left: 10;
}